.button-group {
  margin: auto 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $button-padding;
  background-color: $button-background;
  border: $button-border;
  text-transform: $button-text-transform;
  font-size: $button-font-size;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  color: $button-color;
  border-radius: $button-border-radius;
  min-width: $button-width;
  text-decoration: none;
  cursor: pointer;
}

.button:hover, .button.is-active {
  border: $button-border-rimary;
  color: $button-color-hover;
  background-color: $button-background-primary;
}

.button-primary {
  border: $button-border-rimary;
  color: $color-inverse;
  background-color: $button-background-primary;
}
.button-primary:hover {
  border: $button-border-hover;
  color: $button-color-hover;
  background-color: $button-background-hover;
}

.button-overlay {
  border-color: $color-inverse;
  color: $color-inverse;
  background-color: $button-background;
}

.button-overlay:hover {
  border: $button-border-hover;
  color: $button-color-hover;
  background-color: $button-background-hover;
}

